In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('gdp.csv')
df

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [8]:
df['Country Name'].nunique(dropna = True)

256

In [17]:
len(df[df['Country Name'] == 'India'])

57

In [37]:
result = df.loc[df['Year'] == 1969, 'Value'].sum()
result

19577200379601.25

In [32]:
gdp_in_1969 = 0
for i in df['Year']:
    if(df['Year'] == 1969):
        gdp_in_1969 += df['Value']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [36]:
total = df[['Value']].sum(axis=1).where(df['Year'] == 1969, 0)
total.sum()

19577200379601.25

In [58]:
df_pr = df[df["Country Name"] == 'India']
i = df_pr[df_pr["Year"] == 1964].values
prev = df_pr[i-1][3]
cur = df_pr[i][3]
gdp_growth_1994 = round(((cur - prev) / prev)*100,2)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [59]:
df[df['Country Name'] == 'World']

     Country Name Country Code  Year         Value
2249        World          WLD  1960  1.366680e+12
2250        World          WLD  1961  1.421790e+12
2251        World          WLD  1962  1.526960e+12
2252        World          WLD  1963  1.643750e+12
2253        World          WLD  1964  1.800800e+12
2254        World          WLD  1965  1.961780e+12
2255        World          WLD  1966  2.128450e+12
2256        World          WLD  1967  2.264600e+12
2257        World          WLD  1968  2.443220e+12
2258        World          WLD  1969  2.690800e+12
2259        World          WLD  1970  2.957800e+12
2260        World          WLD  1971  3.266910e+12
2261        World          WLD  1972  3.767670e+12
2262        World          WLD  1973  4.591350e+12
2263        World          WLD  1974  5.296030e+12
2264        World          WLD  1975  5.897210e+12
2265        World          WLD  1976  6.416470e+12
2266        World          WLD  1977  7.257630e+12
2267        World          WLD  1978  8.542920e+12
2268        World          WLD  1979  9.925900e+12
2269        World          WLD  1980  1.117220e+13
2270        World          WLD  1981  1.146440e+13
2271        World          WLD  1982  1.136360e+13
2272        World          WLD  1983  1.162370e+13
2273        World          WLD  1984  1.206510e+13
2274        World          WLD  1985  1.268920e+13
2275        World          WLD  1986  1.502260e+13
2276        World          WLD  1987  1.709170e+13
2277        World          WLD  1988  1.914080e+13
2278        World          WLD  1989  2.009280e+13
2279        World          WLD  1990  2.259500e+13
2280        World          WLD  1991  2.392760e+13
2281        World          WLD  1992  2.541000e+13
2282        World          WLD  1993  2.585900e+13
2283        World          WLD  1994  2.776750e+13
2284        World          WLD  1995  3.087260e+13
2285        World          WLD  1996  3.155270e+13
2286        World          WLD  1997  3.143540e+13
2287        World          WLD  1998  3.133880e+13
2288        World          WLD  1999  3.251080e+13
2289        World          WLD  2000  3.356660e+13
2290        World          WLD  2001  3.335450e+13
2291        World          WLD  2002  3.463600e+13
2292        World          WLD  2003  3.889410e+13
2293        World          WLD  2004  4.380480e+13
2294        World          WLD  2005  4.742890e+13
2295        World          WLD  2006  5.136320e+13
2296        World          WLD  2007  5.785900e+13
2297        World          WLD  2008  6.346180e+13
2298        World          WLD  2009  6.016830e+13
2299        World          WLD  2010  6.595450e+13
2300        World          WLD  2011  7.327990e+13
2301        World          WLD  2012  7.488990e+13
2302        World          WLD  2013  7.699090e+13
2303        World          WLD  2014  7.904920e+13
2304        World          WLD  2015  7.475770e+13
2305        World          WLD  2016  7.584510e+13